@import url('https://fonts.googleapis.com/css2?family=Milonga&display=swap');

.div{
  background-image: url(../../img/landing.webp);
	height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.title {
  color: white;
  margin-top: 150px;
  text-align-last: left;
  margin-left: 50px;
  position: absolute;
}
.title h1 {
  font-family: "Milonga", serif;
  font-size: 60px;
}

.btn {
  font-family: "Milonga", serif;
  font-weight: bold;
  display: inline-block;
  color: white;
  border: 4px solid whitesmoke;
  border-radius: 25px;
  background: black;
  box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  vertical-align: middle;
  max-width: 150px;
  padding: 25px;
  text-align: center;
  margin-left: 100px;
  transition: 0.5s;
}

.btn:hover {
  color: black;
  background-color: whitesmoke;

  /* -webkit-transition: all 0.5s ease-in-out; */
  transition: all 0.5s ease-in-out;
}
